.Characters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  li {
    width: 20vw;
    margin: 2em;
    padding: 2rem;

    background-color: #f0f0f0;
    text-align: center;
    list-style-type: none;
  }

  section {
    margin: auto;
    animation: insert 0.5s linear;
  }

  img {
    width: 10rem;
    margin: auto;
  }

  @keyframes insert {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }
}
